@font-face {
    font-family: 'MoonGet';
    src: url('fonts/caviardreams_bold-webfont.woff2') format('woff2'),
         url('fonts/caviardreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media (){
  body{
    background-color: #202020;
    background-image: radial-gradient(gray 1%, transparent 2.25%);
    background-size: 13vw 13vh;
    background-position: 5.5vw 5.5vh;
    margin: 0px;
  }
}

@media (min-aspect-ratio: 13/9){
  body{
    background-color: #202020;
    background-image: radial-gradient(gray 1%, transparent 2.25%);
    background-size: 6vw 13vh;
    background-position: 2.25vw 5.5vh;
    margin: 0px;
  }

  #container{
    position: relative;
    width:18.1vw;
    height:26vh;
    left: 29.2vw;
    top : 51vh;
    overflow-x: hidden;
  }

  #contenu1{
    position: absolute;
    width:18.1vw;
    height:26vh;
    box-sizing: border-box;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    animation: appear 1s ease forwards;
  }

  #contenu2{
    position: absolute;
    bottom:0px;
    right: 0px;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border-right: 5px solid white;
    border-top: 5px solid white;
    animation: appear 1s ease forwards;
    }

  @keyframes appear {

    0% {
      width:5px;
      height:5px;
    }
    50%{
      width:5px;
      height:26vh;
    }
    100% {
      width:18.1vw;
      height:26vh;
    }

  }

}
