@font-face {
    font-family: 'MoonGet';
    src: url('fonts/caviardreams_bold-webfont.woff2') format('woff2'),
         url('fonts/caviardreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media (){
  body{
    background-color: #202020;
    background-image: radial-gradient(gray 1%, transparent 2.25%);
    background-size: 13vw 13vh;
    background-position: 5.5vw 5.5vh;
    margin: 0px;
  }
}

@media (min-aspect-ratio: 13/9){
  body{
    background-color: #202020;
    background-image: radial-gradient(gray 1%, transparent 2.25%);
    background-size: 6vw 13vh;
    background-position: 2.25vw 5.5vh;
    margin: 0px;
  }

  #container{
    position: relative;
    left: 29.2vw;
    top : 51vh;
    animation: appear 1s ease forwards;
    overflow: hidden;
  }

  @keyframes appear {
    0% {
      clip-path: polygon(0 0, 5 0,0 100%, 5 100%);
      width:5px;
      height:5px;
    }
    50%{
      clip-path: polygon(0 0, 5 0,0 100%, 5 100%);
      width:5px;
      height:26vh;
    }
    100% {
      clip-path: polygon(0 0, 5 0,0 100%, 5 100%);
      width:18.1vw;
      height:26vh;
    }

  }

  #contenu{
    position:relative;
    width:18.1vw;
    height:26vh;
    border-style: solid;
    border-width: 5px;
    border-color: white;
  }
}
