body {
    background-image: url(images/flou.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}


.navbar-inverse {
    background-color: #222;
}

#logo {
    position: relative;
    left: 20px;
}

@font-face {
    font-family: 'TWH';
    src: url('toms_handwritten_new-webfont.woff2') format('woff2'),
         url('toms_handwritten_new-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#carousel-example-generic {
    height: 400px;
    margin: auto;
}

h1 {
    color: white;
    font-family: monospace;
    text-align: center;
    font-size: 50px;
}

.navbar-collapse {
    position: relative;     
    font-size: 20px;
    font-family:monospace;
    right: 120px;
}





